@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Satisfy', cursive;
}

body{
	overflow: hidden;
}

section{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	background: #f1f1f1;
}

.section-red{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(140deg, #a93737, #481111);
}

section .box{
	position: absolute;
	width: 450px;
	height: 450px;
}

section .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right,#000, transparent);
	opacity: 0.1;
	transform: rotate(45deg);
	transform-origin: left;
}

section .box .circle{
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg,#fff,#e4e3e8);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	z-index: 1;
	border: 0;
    outline: none;
    cursor: pointer;
}

section .box .circle-red{
	background: linear-gradient(135deg,#c32323,#612828);
	box-shadow: 0 0 5px 0 #ffa500f2;
}

section .box .circle::before{
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: linear-gradient(315deg,#fff,#e4e3e8);
	border-radius: 50%;
}

section .box .circle-red::before{
	background: linear-gradient(315deg,#c32323,#612828);
}

section .box .circle h2{
	position: absolute;
	z-index: 2;
	font-size: 4em;
	color: #ff2a2a;
	text-align: center;
}

section .box .circle-red h2{
	color: #fff;
}

/* PARTICULAS */

section i{
	position: absolute;
	background: #ff2a2a;
	border-radius: 100%;
	animation: animate linear  infinite;
	box-shadow: 0 0 0 0 #ffffff00;
}

section i:nth-child(){
	background: transparent;
	border: 1px solid #ff2a2a;
}

.snowball{
	/*background: #fff;*/
	box-shadow: 0 0 10px 0 #ffd400a3;
}

.snowball:nth-child(){
	background: transparent;
	border: 1px solid #ff2a2a;
}

@keyframes animate{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	90%{
		opacity: 1;
	}
	100%{
		transform: translateY(2000%);
		opacity: 0;
	}
}